// Font
$root-font-family: "Barlow Semi Condensed";
$root-font-size: 13px;
$root-font-weight: 500;

// Color
$white: hsl(0, 0%, 100%);
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

@mixin blog-theme($name-color, $status-color) {
  .user-profile .user-info .user-name,
  .content .user-experience-summary {
    color: $name-color;
  }

  .user-profile .user-info .user-status,
  .content .user-testimonial {
    color: $status-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $light-grayish-blue;

  main {
    width: 327px;
    height: fit-content;
    margin: 0 auto;
    padding: 70px 0 40px 0;

    section.blog {
      header.user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 17px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 15px;
        }

        div.user-info {
          h2.user-name {
            font-weight: 600;
          }

          h3.user-status {
            font-size: 0.9rem;
          }
        }
      }

      article.content {
        p.user-experience-summary {
          font-weight: 600;
          font-size: 1.47rem;
          margin-bottom: 19px;
          letter-spacing: 0.4px;
          line-height: 1.8rem;
        }

        blockquote.user-testimonial {
          line-height: 1.36rem;
        }
      }
    }

    .blog {
      height: fit-content;
      padding: 24px 32px 30px 31px;
      border-radius: 8px;
      margin-bottom: 24px;

      box-shadow: 10px 10px 20px 5px
        rgba($color: $very-dark-blackish-blue, $alpha: 0.1);

      .user-profile .user-info .user-status,
      .content .user-testimonial {
        color: rgba($white, 0.6);
      }
    }

    #Daniel-blog {
      background-color: $moderate-violet;
      background-image: url(./sources/images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position: top right 25px;

      img {
        border: 2px solid rgba($white, 0.5);
      }

      blockquote.user-testimonial {
        padding-right: 17px;
      }
    }

    #Jonathan-blog {
      background-color: $very-dark-grayish-blue;

      img {
        border: 2px solid $very-dark-grayish-blue;
      }
    }

    #Patrick-blog {
      background-color: $very-dark-blackish-blue;

      img {
        border: 2px solid $moderate-violet;
      }

      blockquote.user-testimonial {
        letter-spacing: 0.1px;
      }
    }

    #Daniel-blog,
    #Jonathan-blog,
    #Patrick-blog {
      @include blog-theme($white, rgba($white, 0.6));
    }

    #Jeanette-blog,
    #Kira-blog {
      background-color: $white;
      img {
        border: 2px solid $white;
      }

      @include blog-theme(
        $very-dark-blackish-blue,
        rgba($very-dark-grayish-blue, 0.6)
      );
    }

    #Kira-blog {
      blockquote.user-testimonial {
        letter-spacing: 0.05px;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    main {
      width: 1110px;
      height: 572px;
      margin: 0;
      padding: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 24px 30px;

      .blog {
        margin: 0;
        width: 100%;
        height: 100%;
      }

      #Daniel-blog {
        background-position: top right 80px;
        grid-column: 1 / span 2;

        blockquote.user-testimonial {
          padding-right: 0;
        }
      }

      #Jonathan-blog {
        grid-column: 3;
      }

      #Jeanette-blog {
        grid-column: 1;
        grid-row: 2;
      }

      #Patrick-blog {
        grid-column: 2 / span 2;
        grid-row: 2;
      }

      #Kira-blog {
        grid-column: 4;
        grid-row: 1 / span 2;
      }
    }
  }
}
