* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}
body main {
  width: 327px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 70px 0 40px 0;
}
body main section.blog header.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
body main section.blog header.user-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}
body main section.blog header.user-profile div.user-info h2.user-name {
  font-weight: 600;
}
body main section.blog header.user-profile div.user-info h3.user-status {
  font-size: 0.9rem;
}
body main section.blog article.content p.user-experience-summary {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 18px;
  letter-spacing: 0.3px;
}
body main section.blog article.content blockquote.user-testimonial {
  line-height: 1.4rem;
  letter-spacing: 0.05px;
}
body main .blog {
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px 31px 30px 31px;
  border-radius: 8px;
  margin-bottom: 24px;
}
body main .blog .user-profile .user-info .user-status,
body main .blog .content .user-testimonial {
  color: hsl(0, 0%, 81%);
}
body main #Daniel-blog {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./sources/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 25px;
}
body main #Daniel-blog img {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
body main #Daniel-blog .user-profile .user-info .user-status,
body main #Daniel-blog .content .user-testimonial {
  color: rgba(255, 255, 255, 0.5);
}
body main #Jonathan-blog {
  background-color: hsl(217, 19%, 35%);
}
body main #Jonathan-blog img {
  border: 2px solid hsl(217, 19%, 35%);
}
body main #Patrick-blog {
  background-color: hsl(219, 29%, 14%);
}
body main #Patrick-blog img {
  border: 2px solid hsl(263, 55%, 52%);
}
body main #Daniel-blog .user-profile .user-info .user-name,
body main #Daniel-blog .content .user-experience-summary,
body main #Jonathan-blog .user-profile .user-info .user-name,
body main #Jonathan-blog .content .user-experience-summary,
body main #Patrick-blog .user-profile .user-info .user-name,
body main #Patrick-blog .content .user-experience-summary {
  color: hsl(0, 0%, 100%);
}
body main #Jeanette-blog,
body main #Kira-blog {
  background-color: hsl(0, 0%, 100%);
}
body main #Jeanette-blog img,
body main #Kira-blog img {
  border: 2px solid hsl(0, 0%, 100%);
}
body main #Jeanette-blog .user-profile .user-info .user-name,
body main #Jeanette-blog .content .user-experience-summary,
body main #Kira-blog .user-profile .user-info .user-name,
body main #Kira-blog .content .user-experience-summary {
  color: hsl(219, 29%, 14%);
}
body main #Jeanette-blog .user-profile .user-info .user-status,
body main #Jeanette-blog .content .user-testimonial,
body main #Kira-blog .user-profile .user-info .user-status,
body main #Kira-blog .content .user-testimonial {
  color: rgba(72, 85, 106, 0.5);
}