// Font
$root-font-family: "Barlow Semi Condensed";
$root-font-size: 13px;
$root-font-weight: 500;

// Color
$white: hsl(0, 0%, 100%);
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $light-grayish-blue;

  main {
    width: 327px;
    height: fit-content;
    margin: 0 auto;
    padding: 70px 0 40px 0;

    section.blog {
      header.user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 15px;
        }

        div.user-info {
          h2.user-name {
            font-weight: 600;
          }

          h3.user-status {
            font-size: 0.9rem;
          }
        }
      }

      article.content {
        p.user-experience-summary {
          font-weight: 600;
          font-size: 1.5rem;
          margin-bottom: 18px;
          letter-spacing: 0.3px;
        }

        blockquote.user-testimonial {
          line-height: 1.4rem;
          letter-spacing: 0.05px;
        }
      }
    }

    .blog {
      height: fit-content;
      padding: 24px 31px 30px 31px;
      border-radius: 8px;
      margin-bottom: 24px;

      .user-profile .user-info .user-status,
      .content .user-testimonial {
        color: $light-gray;
      }
    }

    #Daniel-blog {
      background-color: $moderate-violet;
      background-image: url(./sources/images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-position: top right 25px;

      img {
        border: 2px solid rgba($white, 0.5);
      }

      .user-profile .user-info .user-status,
      .content .user-testimonial {
        color: rgba($white, 0.5);
      }
    }

    #Jonathan-blog {
      background-color: $very-dark-grayish-blue;

      img {
        border: 2px solid $very-dark-grayish-blue;
      }
    }

    #Patrick-blog {
      background-color: $very-dark-blackish-blue;

      img {
        border: 2px solid $moderate-violet;
      }
    }

    #Daniel-blog,
    #Jonathan-blog,
    #Patrick-blog {
      .user-profile .user-info .user-name,
      .content .user-experience-summary {
        color: $white;
      }
    }

    #Jeanette-blog,
    #Kira-blog {
      background-color: $white;
      img {
        border: 2px solid $white;
      }

      .user-profile .user-info .user-name,
      .content .user-experience-summary {
        color: $very-dark-blackish-blue;
      }

      .user-profile .user-info .user-status,
      .content .user-testimonial {
        color: rgba($very-dark-grayish-blue, 0.5);
      }
    }
  }
}
