@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
  font-weight: 500;
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
}

body {
  background-color: hsl(210, 46%, 95%);
}
body .container .blog {
  padding: 25px 30px 30px 30px;
  box-shadow: 50px 50px 25px -40px rgba(73, 74, 81, 0.151);
  border-radius: 10px;
}
body .container .blog .user-profile {
  display: flex;
  align-items: center;
  z-index: 1;
}
body .container .blog .user-profile img {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin-right: 15px;
}
body .container .blog .user-profile .user-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .container .blog .user-profile .user-info .user-name {
  font-weight: 600;
}
body .container .blog .user-profile .user-info .user-status {
  font-size: 0.9rem;
}
body .container #Daniel {
  background-color: hsl(263, 55%, 52%);
  background-image: url(source/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  color: hsl(0, 0%, 100%);
}
body .container #Daniel img {
  border: 2px solid #a775f1;
}
body .container #Daniel .user-info .user-status {
  color: rgba(255, 255, 255, 0.5);
}
body .container #Daniel .content .second-content {
  color: rgba(255, 255, 255, 0.7);
}
body .container #Jonathan {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
body .container #Jonathan img {
  border: 2px solid hsl(0, 0%, 81%);
}
body .container #Jonathan .user-info .user-status {
  color: rgba(255, 255, 255, 0.5);
}
body .container #Jonathan .content .second-content {
  color: rgba(255, 255, 255, 0.7);
}
body .container #Jeanette,
body .container #Kira {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
body .container #Jeanette img,
body .container #Kira img {
  border: 2px solid hsl(0, 0%, 100%);
}
body .container #Jeanette .user-info .user-status,
body .container #Kira .user-info .user-status {
  color: rgba(72, 85, 106, 0.5);
}
body .container #Jeanette .content .second-content,
body .container #Kira .content .second-content {
  color: rgba(72, 85, 106, 0.7);
}
body .container #Patrick {
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 29%, 14%);
}
body .container #Patrick img {
  border: 2px solid hsl(263, 55%, 52%);
}
body .container #Patrick .user-info .user-status {
  color: rgba(255, 255, 255, 0.5);
}
body .container #Patrick .content .second-content {
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 375px) and (max-width: 1439px) {
  body .container {
    width: 375px;
    margin: 0 auto;
    padding: 70px 25px;
  }
  body .container .blog {
    margin-bottom: 25px;
  }
  body .container .blog .user-profile {
    margin-bottom: 20px;
  }
  body .container .blog .content .first-content {
    margin-bottom: 20px;
    font-size: 1.87rem;
  }
  body .container .blog .content .second-content {
    line-height: 1.6rem;
    font-size: 1.252rem;
    word-spacing: 0.2px;
  }
  body .container .blog:last-child {
    margin-bottom: 0;
  }
  body .container #Daniel {
    background-position: 90% 0;
  }
}
@media (min-width: 1440px) {
  body .container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 280px);
    gap: 30px 25px;
  }
  body .container .blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .container .blog .user-profile {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
  }
  body .container .blog .content {
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .container .blog .content .first-content {
    font-size: 1.57rem;
  }
  body .container .blog .content .second-content {
    font-size: 1.01rem;
    line-height: 1.3rem;
  }
  body .container #Daniel {
    grid-column: 1/3;
    grid-row: 1;
    background-position: 80% 0;
  }
  body .container #Jonathan {
    grid-column: 3;
    grid-row: 1;
  }
  body .container #Jeanette {
    grid-column: 1;
    grid-row: 2;
  }
  body .container #Patrick {
    grid-column: 2/4;
    grid-row: 2;
  }
  body .container #Kira {
    grid-column: 4;
    grid-row: 1/3;
  }
  body .container #Kira .content .second-content {
    line-height: 1.4rem;
  }
}